In [52]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns
from textwrap import wrap
from matplotlib.lines import Line2D
from matplotlib.offsetbox import OffsetImage, AnnotationBbox

In [53]:
#21년 08월 데이터 로드
df_08 = pd.read_csv('seoul_bike_21_08.csv', encoding = 'cp949', low_memory = False)
#21년 09월 데이터 로드
df_09 = pd.read_csv('seoul_bike_21_09.csv', encoding = 'cp949', low_memory = False)
#08, 09월 데이터 열 병합
df_new = pd.concat([df_08,df_09])

In [54]:
#df_new.to_csv("df_new.csv", mode='w',encoding='cp949')

In [55]:
#info로 각 columns 별 dtype 확인.
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6865402 entries, 0 to 3645806
Data columns (total 11 columns):
 #   Column    Dtype
---  ------    -----
 0   자전거번호     object
 1   대여일시      object
 2   대여 대여소번호  int64
 3   대여 대여소명   object
 4   대여거치대     int64
 5   반납일시      object
 6   반납대여소번호   int64
 7   반납대여소명    object
 8   반납거치대     int64
 9   이용시간      int64
 10  이용거리      float64
dtypes: float64(1), int64(5), object(5)
memory usage: 628.5+ MB

In [56]:
#적재된 메모리 해제를 위한 delete
del df_08
del df_09

In [57]:
#필요한 컬럼만 추출해서 df_new로 대입.
df_new = df_new[['자전거번호', '대여일시','이용시간','이용거리']]

In [58]:
# check dtype
df_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6865402 entries, 0 to 3645806
Data columns (total 4 columns):
 #   Column  Dtype
---  ------  -----
 0   자전거번호   object
 1   대여일시    object
 2   이용시간    int64
 3   이용거리    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 261.9+ MB

In [59]:
df_new.shape

(6865402, 4)

In [60]:
#고장 데이터셋 로드
df_break = pd.read_csv('seoul_bike_break.csv', encoding = 'utf-8')

In [61]:
df_break

            자전거번호              등록일시 고장구분
0       SPB-00108   2015-12-04 7:41   체인
1       SPB-00210  2015-12-07 12:23   체인
2       SPB-00035  2015-12-09 17:07  기타
3       SPB-01024  2015-12-13 21:02  기타
4       SPB-01015  2015-12-28 10:12  기타
...           ...               ...  ...
181587  SPB-32255  2020-10-30 23:26   안장
181588  SPB-32255  2020-10-30 23:26   페달
181589  SPB-37980  2020-10-30 23:47   안장
181590  SPB-21980  2020-10-30 23:54   체인
181591  SPB-21980  2020-10-30 23:54   페달

[181592 rows x 3 columns]

__자전거번호, 등록일시 두 개의 변수를 이용하여 계산__

In [62]:
#df_break = df_break.sort_values(by=['등록일시'])
cols = ['자전거번호','등록일시']

In [63]:
df_break = df_break.sort_values(by=['자전거번호'])

tups = df_break[cols].sort_values(by=cols, ascending=(True, True)).apply(tuple, axis=1)
f, i = pd.factorize(tups)
display(tups, f, i)

10160     (SPB-00001, 2018-05-17 19:04)
10856     (SPB-00001, 2018-05-28 19:13)
10855     (SPB-00001, 2018-05-28 19:13)
12372     (SPB-00001, 2018-06-18 19:49)
12373     (SPB-00001, 2018-06-18 19:49)
                      ...
181510    (SPB-51167, 2020-10-30 14:22)
181328    (SPB-51182, 2020-10-29 12:13)
181380    (SPB-51425, 2020-10-29 17:44)
181290     (SPB-51506, 2020-10-29 8:43)
181558    (SPB-51506, 2020-10-30 19:29)
Length: 181592, dtype: object

array([     0,      1,      1, ..., 163918, 163919, 163920], dtype=int64)

Index([('SPB-00001', '2018-05-17 19:04'), ('SPB-00001', '2018-05-28 19:13'),
       ('SPB-00001', '2018-06-18 19:49'), ('SPB-00001', '2018-06-22 17:11'),
        ('SPB-00001', '2018-06-23 8:52'),  ('SPB-00001', '2018-06-28 0:45'),
       ('SPB-00001', '2018-06-28 12:15'), ('SPB-00001', '2018-07-04 19:24'),
       ('SPB-00001', '2018-07-05 20:19'),  ('SPB-00001', '2018-07-06 1:37'),
       ...
        ('SPB-50796', '2020-10-27 7:33'),  ('SPB-50806', '2020-10-25 9:27'),
       ('SPB-50873', '2020-10-25 17:24'),  ('SPB-50902', '2020-10-24 8:05'),
       ('SPB-51122', '2020-10-30 18:43'), ('SPB-51167', '2020-10-30 14:22'),
       ('SPB-51182', '2020-10-29 12:13'), ('SPB-51425', '2020-10-29 17:44'),
        ('SPB-51506', '2020-10-29 8:43'), ('SPB-51506', '2020-10-30 19:29')],
      dtype='object', length=163921)

In [64]:
factorized = pd.Series(f + 1, tups.index)
display(factorized)

10160          1
10856          2
10855          2
12372          3
12373          3
           ...
181510    163917
181328    163918
181380    163919
181290    163920
181558    163921
Length: 181592, dtype: int64

In [65]:
df_break['rank'] = factorized
df_break.sort_values(by='rank', ascending=True, inplace = True)

display(df_break)

            자전거번호              등록일시 고장구분    rank
10160   SPB-00001  2018-05-17 19:04  기타        1
10856   SPB-00001  2018-05-28 19:13  단말기       2
10855   SPB-00001  2018-05-28 19:13   페달       2
12375   SPB-00001  2018-06-18 19:49   페달       3
12377   SPB-00001  2018-06-18 19:49  기타        3
...           ...               ...  ...     ...
181510  SPB-51167  2020-10-30 14:22  단말기  163917
181328  SPB-51182  2020-10-29 12:13  단말기  163918
181380  SPB-51425  2020-10-29 17:44  기타   163919
181290  SPB-51506   2020-10-29 8:43  기타   163920
181558  SPB-51506  2020-10-30 19:29  기타   163921

[181592 rows x 4 columns]

__rank로 오름차순 정렬하면 성공__

In [66]:
df_break.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 181592 entries, 10160 to 181558
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   자전거번호   181592 non-null  object
 1   등록일시    181592 non-null  object
 2   고장구분    181592 non-null  object
 3   rank    181592 non-null  int64
dtypes: int64(1), object(3)
memory usage: 6.9+ MB

In [67]:
df_break['등록일시'] = pd.to_datetime(df_break['등록일시'], format="%Y/%m/%d")

In [68]:
df_break['등록일시'].isna().sum()

0

In [69]:
df_break.groupby(['자전거번호'])

In [70]:
#row 를 shift 해주면서 위, 아래 계산
df_break['diff'] = (df_break.등록일시 - df_break.등록일시.shift())

In [71]:

#df_break['등록일시'] = pd.to_datetime(df_break['등록일시'], format="%Y/%m/%d")

In [72]:
#df_break = df_break['자전거번호'].groupby(df_break['등록일시']).sum()

In [73]:
df_break.head(50)

           자전거번호                등록일시  고장구분  rank             diff
10160  SPB-00001 2018-05-17 19:04:00   기타      1              NaT
10856  SPB-00001 2018-05-28 19:13:00   단말기     2 11 days 00:09:00
10855  SPB-00001 2018-05-28 19:13:00    페달     2  0 days 00:00:00
12375  SPB-00001 2018-06-18 19:49:00    페달     3 21 days 00:36:00
12377  SPB-00001 2018-06-18 19:49:00   기타      3  0 days 00:00:00
12373  SPB-00001 2018-06-18 19:49:00    체인     3  0 days 00:00:00
12376  SPB-00001 2018-06-18 19:49:00   단말기     3  0 days 00:00:00
12372  SPB-00001 2018-06-18 19:49:00  타이어      3  0 days 00:00:00
12374  SPB-00001 2018-06-18 19:49:00    안장     3  0 days 00:00:00
12971  SPB-00001 2018-06-22 17:11:00  타이어      4  3 days 21:22:00
13120  SPB-00001 2018-06-23 08:52:00    페달     5  0 days 15:41:00
13755  SPB-00001 2018-06-28 00:45:00  타이어      6  4 days 15:53:00
13796  SPB-00001 2018-06-28 12:15:00    안장     7  0 days 11:30:00
14358  SPB-00001 2018-07-04 19:24:00   단말기     8  6 days 07:09:00
14514  SPB-00001 2018-07-05 20:19:00   기타      9  1 days 00:55:00
14513  SPB-00001 2018-07-05 20:19:00    체인     9  0 days 00:00:00
14574  SPB-00001 2018-07-06 01:37:00  타이어     10  0 days 05:18:00
14575  SPB-00001 2018-07-06 01:37:00   기타     10  0 days 00:00:00
15031  SPB-00001 2018-07-08 20:59:00  타이어     11  2 days 19:22:00
15481  SPB-00001 2018-07-13 00:15:00   기타     12  4 days 03:16:00
15690  SPB-00001 2018-07-14 15:51:00    페달    13  1 days 15:36:00
15689  SPB-00001 2018-07-14 15:51:00    체인    13  0 days 00:00:00
16149  SPB-00001 2018-07-17 08:41:00   기타     14  2 days 16:50:00
16881  SPB-00001 2018-07-21 21:28:00    체인    15  4 days 12:47:00
17763  SPB-00001 2018-07-27 22:40:00  타이어     16  6 days 01:12:00
18443  SPB-00001 2018-08-03 03:54:00   단말기    17  6 days 05:14:00
19284  SPB-00001 2018-08-10 17:20:00   기타     18  7 days 13:26:00
19600  SPB-00001 2018-08-13 18:56:00   단말기    19  3 days 01:36:00
19601  SPB-00001 2018-08-13 18:59:00  타이어     20  0 days 00:03:00
19685  SPB-00001 2018-08-13 23:41:00  타이어     21  0 days 04:42:00
19824  SPB-00001 2018-08-15 03:08:00   단말기    22  1 days 03:27:00
21232  SPB-00001 2018-08-24 19:05:00   단말기    23  9 days 15:57:00
21697  SPB-00001 2018-08-30 02:56:00   단말기    24  5 days 07:51:00
21698  SPB-00001 2018-08-30 02:56:00   기타     24  0 days 00:00:00
22351  SPB-00001 2018-09-04 06:30:00   단말기    25  5 days 03:34:00
22535  SPB-00001 2018-09-05 01:00:00  타이어     26  0 days 18:30:00
23092  SPB-00001 2018-09-07 20:49:00    체인    27  2 days 19:49:00
23315  SPB-00001 2018-09-08 23:19:00   기타     28  1 days 02:30:00
23568  SPB-00001 2018-09-10 08:37:00   단말기    29  1 days 09:18:00
23839  SPB-00001 2018-09-11 12:50:00   단말기    30  1 days 04:13:00
24215  SPB-00001 2018-09-12 22:02:00  타이어     31  1 days 09:12:00
26754  SPB-00001 2018-09-28 21:19:00  타이어     32 15 days 23:17:00
27257  SPB-00001 2018-10-01 14:34:00    안장    33  2 days 17:15:00
27751  SPB-00001 2018-10-03 22:44:00    안장    34  2 days 08:10:00
28609  SPB-00001 2018-10-09 01:59:00   단말기    35  5 days 03:15:00
30641  SPB-00001 2018-10-20 14:53:00    안장    36 11 days 12:54:00
31927  SPB-00001 2018-10-29 07:23:00    체인    37  8 days 16:30:00
32777  SPB-00001 2018-11-04 14:17:00  타이어     38  6 days 06:54:00
32778  SPB-00001 2018-11-04 14:17:00    체인    38  0 days 00:00:00
33039  SPB-00001 2018-11-06 08:52:00   단말기    39  1 days 18:35:00

In [74]:
#timedelta to string
df_break['diff'] = df_break['diff'].astype(str)

In [75]:
df_break['diff'] = df_break['diff'].str.split(' ').str[0]

In [76]:
df_break.head(50)
#df_break['diff'] = df_break['diff'].astype(int)

           자전거번호                등록일시  고장구분  rank diff
10160  SPB-00001 2018-05-17 19:04:00   기타      1  NaT
10856  SPB-00001 2018-05-28 19:13:00   단말기     2   11
10855  SPB-00001 2018-05-28 19:13:00    페달     2    0
12375  SPB-00001 2018-06-18 19:49:00    페달     3   21
12377  SPB-00001 2018-06-18 19:49:00   기타      3    0
12373  SPB-00001 2018-06-18 19:49:00    체인     3    0
12376  SPB-00001 2018-06-18 19:49:00   단말기     3    0
12372  SPB-00001 2018-06-18 19:49:00  타이어      3    0
12374  SPB-00001 2018-06-18 19:49:00    안장     3    0
12971  SPB-00001 2018-06-22 17:11:00  타이어      4    3
13120  SPB-00001 2018-06-23 08:52:00    페달     5    0
13755  SPB-00001 2018-06-28 00:45:00  타이어      6    4
13796  SPB-00001 2018-06-28 12:15:00    안장     7    0
14358  SPB-00001 2018-07-04 19:24:00   단말기     8    6
14514  SPB-00001 2018-07-05 20:19:00   기타      9    1
14513  SPB-00001 2018-07-05 20:19:00    체인     9    0
14574  SPB-00001 2018-07-06 01:37:00  타이어     10    0
14575  SPB-00001 2018-07-06 01:37:00   기타     10    0
15031  SPB-00001 2018-07-08 20:59:00  타이어     11    2
15481  SPB-00001 2018-07-13 00:15:00   기타     12    4
15690  SPB-00001 2018-07-14 15:51:00    페달    13    1
15689  SPB-00001 2018-07-14 15:51:00    체인    13    0
16149  SPB-00001 2018-07-17 08:41:00   기타     14    2
16881  SPB-00001 2018-07-21 21:28:00    체인    15    4
17763  SPB-00001 2018-07-27 22:40:00  타이어     16    6
18443  SPB-00001 2018-08-03 03:54:00   단말기    17    6
19284  SPB-00001 2018-08-10 17:20:00   기타     18    7
19600  SPB-00001 2018-08-13 18:56:00   단말기    19    3
19601  SPB-00001 2018-08-13 18:59:00  타이어     20    0
19685  SPB-00001 2018-08-13 23:41:00  타이어     21    0
19824  SPB-00001 2018-08-15 03:08:00   단말기    22    1
21232  SPB-00001 2018-08-24 19:05:00   단말기    23    9
21697  SPB-00001 2018-08-30 02:56:00   단말기    24    5
21698  SPB-00001 2018-08-30 02:56:00   기타     24    0
22351  SPB-00001 2018-09-04 06:30:00   단말기    25    5
22535  SPB-00001 2018-09-05 01:00:00  타이어     26    0
23092  SPB-00001 2018-09-07 20:49:00    체인    27    2
23315  SPB-00001 2018-09-08 23:19:00   기타     28    1
23568  SPB-00001 2018-09-10 08:37:00   단말기    29    1
23839  SPB-00001 2018-09-11 12:50:00   단말기    30    1
24215  SPB-00001 2018-09-12 22:02:00  타이어     31    1
26754  SPB-00001 2018-09-28 21:19:00  타이어     32   15
27257  SPB-00001 2018-10-01 14:34:00    안장    33    2
27751  SPB-00001 2018-10-03 22:44:00    안장    34    2
28609  SPB-00001 2018-10-09 01:59:00   단말기    35    5
30641  SPB-00001 2018-10-20 14:53:00    안장    36   11
31927  SPB-00001 2018-10-29 07:23:00    체인    37    8
32777  SPB-00001 2018-11-04 14:17:00  타이어     38    6
32778  SPB-00001 2018-11-04 14:17:00    체인    38    0
33039  SPB-00001 2018-11-06 08:52:00   단말기    39    1

In [77]:
df_break.tail(50)

            자전거번호                등록일시  고장구분    rank diff
178471  SPB-50148 2020-10-15 18:31:00    페달  163879  -13
181004  SPB-50163 2020-10-27 20:19:00   기타   163880   12
179187  SPB-50177 2020-10-18 23:24:00    안장  163881   -9
179030  SPB-50179 2020-10-18 13:37:00   기타   163882   -1
179157  SPB-50213 2020-10-18 20:31:00    안장  163883    0
181147  SPB-50222 2020-10-28 15:11:00    페달  163884    9
181146  SPB-50222 2020-10-28 15:11:00    체인  163884    0
181305  SPB-50228 2020-10-29 09:39:00    안장  163885    0
179421  SPB-50230 2020-10-19 22:39:00   단말기  163886  -10
179586  SPB-50234 2020-10-20 17:07:00   기타   163887    0
180959  SPB-50246 2020-10-27 18:08:00    안장  163888    7
179013  SPB-50253 2020-10-18 12:06:00   기타   163889  -10
179581  SPB-50277 2020-10-20 16:48:00   기타   163890    2
179039  SPB-50300 2020-10-18 14:41:00   단말기  163891   -3
181415  SPB-50310 2020-10-29 19:51:00   기타   163892   11
181520  SPB-50333 2020-10-30 16:19:00    안장  163893    0
178814  SPB-50343 2020-10-17 12:36:00   기타   163894  -14
179071  SPB-50381 2020-10-18 16:26:00   단말기  163895    1
180823  SPB-50386 2020-10-26 23:09:00    체인  163896    8
180119  SPB-50393 2020-10-22 22:18:00    체인  163897   -5
180120  SPB-50393 2020-10-22 22:18:00    페달  163897    0
180433  SPB-50397 2020-10-24 22:49:00    안장  163898    2
180613  SPB-50400 2020-10-26 05:42:00   기타   163899    1
180882  SPB-50437 2020-10-27 09:42:00    페달  163900    1
181114  SPB-50458 2020-10-28 10:45:00    안장  163901    1
180410  SPB-50468 2020-10-24 18:31:00    안장  163902   -4
180560  SPB-50472 2020-10-25 19:41:00    페달  163903    1
180557  SPB-50472 2020-10-25 19:41:00  타이어   163903    0
180558  SPB-50472 2020-10-25 19:41:00    체인  163903    0
180561  SPB-50472 2020-10-25 19:41:00   단말기  163903    0
180559  SPB-50472 2020-10-25 19:41:00    안장  163903    0
181218  SPB-50504 2020-10-28 19:23:00   단말기  163904    2
181219  SPB-50504 2020-10-28 19:23:00   기타   163904    0
181117  SPB-50550 2020-10-28 10:56:00    체인  163905   -1
180749  SPB-50569 2020-10-26 18:37:00   기타   163906   -2
181453  SPB-50621 2020-10-30 05:14:00   기타   163907    3
181547  SPB-50674 2020-10-30 18:50:00   단말기  163908    0
180148  SPB-50712 2020-10-23 08:44:00   기타   163909   -8
181327  SPB-50733 2020-10-29 12:13:00   단말기  163910    6
180430  SPB-50743 2020-10-24 22:17:00   기타   163911   -5
180843  SPB-50796 2020-10-27 07:33:00    안장  163912    2
180450  SPB-50806 2020-10-25 09:27:00   기타   163913   -2
180532  SPB-50873 2020-10-25 17:24:00   기타   163914    0
180315  SPB-50902 2020-10-24 08:05:00   기타   163915   -2
181544  SPB-51122 2020-10-30 18:43:00   기타   163916    6
181510  SPB-51167 2020-10-30 14:22:00   단말기  163917   -1
181328  SPB-51182 2020-10-29 12:13:00   단말기  163918   -2
181380  SPB-51425 2020-10-29 17:44:00   기타   163919    0
181290  SPB-51506 2020-10-29 08:43:00   기타   163920   -1
181558  SPB-51506 2020-10-30 19:29:00   기타   163921    1

In [78]:
df_break['고장구분'] = 1

In [79]:
df_break['자전거번호'] = df_break['자전거번호'].str.split('-').str[1]
df_new['자전거번호'] = df_new['자전거번호'].str.split('-').str[1]

In [80]:
#t:m:s 날리기 위한 split 작업 후 대입
df_break['등록일시'] = df_break['등록일시'].dt.strftime('%Y/%m/%d')
df_break['등록일시']

10160     2018/05/17
10856     2018/05/28
10855     2018/05/28
12375     2018/06/18
12377     2018/06/18
             ...
181510    2020/10/30
181328    2020/10/29
181380    2020/10/29
181290    2020/10/29
181558    2020/10/30
Name: 등록일시, Length: 181592, dtype: object

In [81]:
df_break

        자전거번호        등록일시  고장구분    rank diff
10160   00001  2018/05/17     1       1  NaT
10856   00001  2018/05/28     1       2   11
10855   00001  2018/05/28     1       2    0
12375   00001  2018/06/18     1       3   21
12377   00001  2018/06/18     1       3    0
...       ...         ...   ...     ...  ...
181510  51167  2020/10/30     1  163917   -1
181328  51182  2020/10/29     1  163918   -2
181380  51425  2020/10/29     1  163919    0
181290  51506  2020/10/29     1  163920   -1
181558  51506  2020/10/30     1  163921    1

[181592 rows x 5 columns]

In [82]:
# 그룹별 drop_duplicates 필요.
# df_break['등록일시'] = df_break['등록일시'].drop_duplicates()

In [83]:
#df_break.dropna()

In [84]:
df_break = df_break.dropna()

In [85]:
#NaT 결측치를 -99로 대체. (타입 통일 후, 형 변환을 위해)
df_break['diff'] = df_break['diff'].replace(['NaT'], '-99')

#df_break.info()

In [86]:
df_break

        자전거번호        등록일시  고장구분    rank diff
10160   00001  2018/05/17     1       1  -99
10856   00001  2018/05/28     1       2   11
10855   00001  2018/05/28     1       2    0
12375   00001  2018/06/18     1       3   21
12377   00001  2018/06/18     1       3    0
...       ...         ...   ...     ...  ...
181510  51167  2020/10/30     1  163917   -1
181328  51182  2020/10/29     1  163918   -2
181380  51425  2020/10/29     1  163919    0
181290  51506  2020/10/29     1  163920   -1
181558  51506  2020/10/30     1  163921    1

[181592 rows x 5 columns]

In [100]:
#조건문을 위한 타입변경
df_break['diff'] = df_break['diff'].astype(int)

# diff가 0이상인 애들만 따로 저장
diff_positive_num = df_break['diff'] > 0

#조건에 충족되는 값을 df_break에 저장.
df_break = df_break[diff_positive_num & df_break['고장구분'] == 1]
df_break

        자전거번호        등록일시  고장구분    rank  diff
10856   00001  2018/05/28     1       2    11
12375   00001  2018/06/18     1       3    21
12971   00001  2018/06/22     1       4     3
13755   00001  2018/06/28     1       6     4
14358   00001  2018/07/04     1       8     6
...       ...         ...   ...     ...   ...
181453  50621  2020/10/30     1  163907     3
181327  50733  2020/10/29     1  163910     6
180843  50796  2020/10/27     1  163912     2
181544  51122  2020/10/30     1  163916     6
181558  51506  2020/10/30     1  163921     1

[129824 rows x 5 columns]

### 현재 요까지 22.3.10 10:33

In [3]:
#자전거번호, 등록일시, dfii 기준그룹화 한 값을
#df_group = df_break.groupby(['자전거번호','등록일시','diff']).sum()
df_group = df_break.groupby(['자전거번호','등록일시']).sum()

### 등록일시 사이에 최소와 최대 사이의 차이

* sum -> max - min??
* 자체 요소에 접근해서 빼기?
* 데이터 sorted

* 그룹하지 말고 자체 자전거 번호가 갖는 일시들을 뽑고 해당하는 일시 중 가장 이른것과 가장 늦은걸 계산????


* 이중 그룹 -> duplicate를 써서??

In [ ]:
merged_1.drop_duplicates(["칼럼","칼럼"], keep = "first", inplace = True)

In [20]:
df_group = df_break.groupby(['자전거번호','등록일시']).sum()

                      Unnamed: 0
자전거번호     등록일시
SPB-01957 2021-02-19      568455
          2021-02-22      569167
          2021-02-23      189798
SPB-01959 2021-02-19      189483
SPB-02977 2021-02-06      188713
SPB-03092 2021-02-17      189328
SPB-03105 2021-01-15      187527
SPB-03275 2021-02-09      377823
SPB-03709 2021-02-22      189694
SPB-04102 2021-02-24      189907
SPB-04433 2021-01-28      188193
SPB-04486 2021-02-13      189069
SPB-05397 2021-02-20      189591
SPB-06206 2021-02-21      379259
SPB-06952 2021-01-04      187080
SPB-07688 2021-01-20      187738
SPB-08152 2021-02-11      189004
SPB-08834 2021-02-23      189815
SPB-09253 2021-02-03      188529
SPB-09503 2021-02-27      190135
SPB-09610 2021-02-15      189252
SPB-09768 2021-02-15      189243
SPB-10603 2021-02-11      188995
SPB-12211 2021-01-04      374113
SPB-12739 2021-02-17      189349
SPB-14727 2021-01-16      187568
SPB-15269 2021-01-03      187025
SPB-15270 2021-01-22      187811
SPB-15486 2021-02-01      188382
SPB-16099 2021-01-13      187376
SPB-16564 2021-02-12      189052
SPB-17381 2021-01-21      187778
SPB-17599 2021-01-25      188009
SPB-17637 2021-01-15      187461
SPB-18392 2021-02-09      188891
SPB-18437 2021-01-06      187232
SPB-18634 2021-01-24      187946
SPB-18733 2021-02-19      189489
SPB-19226 2021-01-21      187758
SPB-19240 2021-02-09      188893
SPB-19347 2021-01-25      187976
SPB-19359 2021-01-23      187861
SPB-19401 2021-02-21      189657
SPB-19948 2021-02-02      188493
          2021-02-24      379919
SPB-20037 2021-02-10      188945
SPB-20194 2021-01-10      187285
SPB-20256 2021-02-11      188996
SPB-20441 2021-02-26      190055
SPB-20462 2021-02-16      189299

In [2]:
import pandas as pd

df_break = pd.read_csv('preprocess/Break 2021.csv',encoding = 'cp949')

In [110]:
#df_group.groupby(['자전거번호']).get_group('00001')

df_group.head(50)
#df_group.reset_index()

                       고장구분  rank
자전거번호 diff 등록일시
00001 1    2018/07/05     1     9
           2018/07/14     1    13
           2018/08/15     1    22
           2018/09/08     1    28
           2018/09/10     1    29
           2018/09/11     1    30
           2018/09/12     1    31
           2018/11/06     1    39
           2018/11/13     1    41
           2019/03/01     1    51
           2019/03/05     1    53
           2019/04/05     1    59
           2019/04/16     1    62
           2019/04/17     1    64
           2019/04/18     1    67
           2019/04/26     1    69
           2019/05/02     1    71
           2019/05/06     1    74
           2019/05/07     1    75
           2019/05/12     1    78
           2019/06/04     1    87
           2019/06/08     1    90
           2019/06/10     1    91
           2019/06/15     1    93
           2019/06/16     1    94
           2019/06/27     1   101
           2019/06/30     1   103
           2019/07/02     1   105
           2019/08/10     1   120
           2019/08/15     1   122
           2019/08/16     1   123
           2019/08/18     1   124
           2019/08/30     1   130
           2019/08/31     1   132
           2019/09/02     1   133
           2019/09/03     1   134
           2019/09/08     1   136
           2019/09/09     1   137
           2019/09/19     1   141
           2019/09/20     1   143
           2019/09/24     1   146
           2019/09/25     1   147
           2019/09/29     1   149
           2019/10/11     1   156
           2019/10/22     1   160
           2019/10/27     1   162
      2    2018/07/08     1    11
           2018/07/17     1    14
           2018/09/07     1    27
           2018/10/01     1    33

# 이까지만 보세용~~~~~~! 22.03.10

In [ ]:
df_new['대여일시'] = df_new['대여일시'].str.split(' ').str[0]

In [ ]:
df_new['대여일시'] = pd.to_datetime(df_new['대여일시'], format="%Y/%m/%d")

In [ ]:
df_new.info()

In [ ]:
df_break_count = df_break.groupby(['자전거번호']).sum()

In [ ]:
df_break_count = df_break_count.reset_index()
#df_break에서 자전거번호별로 그룹화 후 날짜중복 제거 , 1로 묶을게요.

In [ ]:
df_break_count

In [ ]:
#고장구분 column LabelEncoder 작업
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
df_break['고장구분'] = le.fit_transform(df_break['고장구분'])

In [ ]:
df_break_count

In [ ]:
#df_break 고장구분은 count로 처리하기 위해 1로 값 변경
#df_break['고장구분'] = 1

In [ ]:
#df_group = df_break.groupby(['자전거번호', '등록일시'])
#df_group = df_group.sum()
#df_group['고장구분'] = 1

In [ ]:
#df_group

In [ ]:
#df_new.rename(index = {'대여일시': '등록일시'}, inplace = True)

In [ ]:
df_merge = pd.merge(df_new,df_break, how = 'left', on = ("자전거번호"))

In [ ]:
df_merge

In [ ]:
df_merge2 = pd.merge(df_merge,df_break_count, how = 'left', on = ("자전거번호"))

In [ ]:
df_merge2

In [ ]:
df_merge2.info()

In [ ]:
df_merge.tail(50)

In [ ]:
df_merge = df_merge[['자전거번호', '등록일시','대여일시','이용시간','이용거리','고장구분']]

In [ ]:
df_merge.head()

In [ ]:
df_merge.sort_values(by=['자전거번호'], inplace = True, na_position='last', axis=0)

In [ ]:
df_merge.head(50)

In [ ]:
#df_merge.groupby(['자전거번호', '등록일시'])
# 그룹화 한번해보자
df_group = df_merge.groupby(['자전거번호', '등록일시']).sum()

In [ ]:
df_group

In [ ]:
print(df_merge.isnull())

In [ ]:
df_merge['고장구분'].isnull().sum()

In [ ]:
df_merge.info()

In [ ]:
df_merge.sample(50)