In [2]:
import pandas as pd

# 고장 데이터

In [3]:
df_break = pd.read_csv('preprocess/bike_breakdown.csv',encoding = 'cp949')

df_break.head()

       자전거번호        등록일시 고장구분
0  SPB-00108  2015-12-04   체인
1  SPB-00210  2015-12-07   체인
2  SPB-00035  2015-12-09  기타
3  SPB-01024  2015-12-13  기타
4  SPB-01015  2015-12-28  기타

In [4]:
df_break = df_break[df_break['등록일시'].astype('str') >= '2021-01-01']
df_break

            자전거번호        등록일시  고장구분
186933  SPB-41936  2021-01-01   기타
186934  SPB-42181  2021-01-01  타이어
186935  SPB-36237  2021-01-01   기타
186936  SPB-33399  2021-01-01    체인
186937  SPB-36328  2021-01-01   기타
...           ...         ...   ...
337868  SPB-52362  2021-12-30    안장
337869  SPB-34353  2021-12-30   기타
337870  SPB-31667  2021-12-30   기타
337871  SPB-43563  2021-12-30    체인
337872  SPB-43563  2021-12-30   기타

[150940 rows x 3 columns]

In [5]:
df_break = df_break[df_break['등록일시'].astype('str') <= '2021-02-28']
df_break

            자전거번호        등록일시  고장구분
186933  SPB-41936  2021-01-01   기타
186934  SPB-42181  2021-01-01  타이어
186935  SPB-36237  2021-01-01   기타
186936  SPB-33399  2021-01-01    체인
186937  SPB-36328  2021-01-01   기타
...           ...         ...   ...
190297  SPB-33078  2021-02-28    체인
190298  SPB-34226  2021-02-28    체인
190299  SPB-42425  2021-02-28  타이어
190300  SPB-36203  2021-02-28   단말기
190301  SPB-42156  2021-02-28    페달

[3369 rows x 3 columns]

In [12]:
df_break.to_csv("Break 2021.csv", mode='w',encoding='euc-kr')

In [6]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df_break['고장구분'] = le.fit_transform(df_break['고장구분'])

C:\Users\JW\AppData\Local\Temp/ipykernel_7344/4122877070.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_break['고장구분'] = le.fit_transform(df_break['고장구분'])