# 2019년

* 4월,5월 (01,02) 데이터에 칼럼 이름이 없으니 추가 후 작업

In [2]:
import pandas as pd
df_01 = pd.read_csv('preprocess/2019/Bicycle 1901.csv',encoding = 'cp949',low_memory = False)
df_02 = pd.read_csv('preprocess/2019/Bicycle 1902.csv',encoding = 'cp949',low_memory = False)
df_03 = pd.read_csv('preprocess/2019/Bicycle 1903.csv',encoding = 'cp949',low_memory = False)
df_04 = pd.read_csv("preprocess/2019/Bicycle 1904.csv",encoding = 'cp949',low_memory = False,
                    names=['자전거번호', '대여일시','대여 대여소번호','대여 대여소명',
                           '대여거치대','반납일시','반납대여소번호','반납대여소명',
                           '반납거치대', '이용시간','이용거리'])
df_05 = pd.read_csv("preprocess/2019/Bicycle 1905.csv",encoding = 'cp949',low_memory = False,
                    names=['자전거번호', '대여일시','대여 대여소번호','대여 대여소명',
                           '대여거치대','반납일시','반납대여소번호','반납대여소명',
                           '반납거치대', '이용시간','이용거리'])
df_06 = pd.read_csv('preprocess/2019/Bicycle 1906_1.csv',encoding = 'cp949',low_memory = False)
df_07 = pd.read_csv('preprocess/2019/Bicycle 1906_2.csv',encoding = 'cp949',low_memory = False)
df_08 = pd.read_csv('preprocess/2019/Bicycle 1906_3.csv',encoding = 'cp949',low_memory = False)
df_09 = pd.read_csv('preprocess/2019/Bicycle 1907_1.csv',encoding = 'cp949',low_memory = False)
df_10 = pd.read_csv('preprocess/2019/Bicycle 1907_2.csv',encoding = 'cp949',low_memory = False)
df_11 = pd.read_csv('preprocess/2019/Bicycle 1907_3.csv',encoding = 'cp949',low_memory = False)
df_12 = pd.read_csv('preprocess/2019/Bicycle 1908_1.csv',encoding = 'cp949',low_memory = False)
df_13 = pd.read_csv('preprocess/2019/Bicycle 1908_2.csv',encoding = 'cp949',low_memory = False)
df_14 = pd.read_csv('preprocess/2019/Bicycle 1908_3.csv',encoding = 'cp949',low_memory = False)
df_15 = pd.read_csv('preprocess/2019/Bicycle 1909_1.csv',encoding = 'cp949',low_memory = False)
df_16 = pd.read_csv('preprocess/2019/Bicycle 1909_2.csv',encoding = 'cp949',low_memory = False)
df_17 = pd.read_csv('preprocess/2019/Bicycle 1909_3.csv',encoding = 'cp949',low_memory = False)
df_18 = pd.read_csv('preprocess/2019/Bicycle 1910_1.csv',encoding = 'cp949',low_memory = False)
df_19 = pd.read_csv('preprocess/2019/Bicycle 1910_2.csv',encoding = 'cp949',low_memory = False)
df_20 = pd.read_csv('preprocess/2019/Bicycle 1910_3.csv',encoding = 'cp949',low_memory = False)
df_21 = pd.read_csv('preprocess/2019/Bicycle 1911_1.csv',encoding = 'cp949',low_memory = False)
df_22 = pd.read_csv('preprocess/2019/Bicycle 1911_2.csv',encoding = 'cp949',low_memory = False)
df_23 = pd.read_csv('preprocess/2019/Bicycle 1912.csv',encoding = 'cp949',low_memory = False)

In [3]:
df_2019 = pd.concat([df_01,df_02,df_03,df_04, df_05, df_06, df_07, df_08, df_09, df_10, df_11, df_12, df_13, df_14, df_15,
                    df_16, df_17, df_18, df_19, df_20, df_21, df_22, df_23], ignore_index=True)
df_2019

,자전거번호,대여일시,대여 대여소번호,대여 대여소명,대여거치대,반납일시,반납대여소번호,반납대여소명,반납거치대,이용시간,이용거리
0,SPB-10632,2019-01-01 00:00:44,1421,신내역 4번출구,3,2019-01-01 00:03:53,1420,신내어울공원 앞,13,2,580.0
1,SPB-10957,2019-01-01 00:02:16,1408,먹골역 6번출구 앞,3,2019-01-01 00:07:07,1433,중화역 2번출구,4,4,1020.0
2,SPB-16067,2019-01-01 00:04:12,347,동대문역사문화공원역 9번출구 앞,17,2019-01-01 00:07:07,387,훈련원공원주차장 앞,1,2,550.0
3,SPB-17170,2019-01-01 00:03:09,615,용두동 래미안허브리츠아파트 앞,4,2019-01-01 00:07:27,612,시립동부병원 앞 사거리,14,3,700.0
4,SPB-14130,2019-01-01 00:01:44,1177,수명중?고교,7,2019-01-01 00:08:09,1152,마곡역교차로,1,5,1090.0
...,...,...,...,...,...,...,...,...,...,...,...
18485948,SPB-18675,2019-12-31 23:38:14,430,KEB하나은행 장충동지점,5,2020-01-01 01:58:18,430,KEB하나은행 장충동지점,7,135,3770.0
18485949,SPB-13564,2019-12-31 16:08:16,1673,노원역?5번출구,6,2020-01-01 02:32:10,1636,백병원 사거리 농협은행 앞,8,623,620.0
18485950,SPB-11208,2019-12-31 21:11:33,2307,압구정 한양 3차 아파트,5,2020-01-01 02:47:59,3534,건대입구역 5번출구 뒤,6,80,3820.0
18485951,SPB-23946,2019-12-31 23:59:58,327,낙원상가 옆,1,2020-01-01 03:02:20,327,낙원상가 옆,1,174,11890.0
18485952,SPB-17909,2019-12-31 20:11:43,500,어린이대공원역 3번출구 앞,9,2020-01-01 11:00:47,3542,래미안 구의파크 스위트,9,8,1510.0

In [4]:
df_2019['대여일시'] = df_2019['대여일시'].str.split(' ').str[0]

In [5]:
df_2019 = df_2019[['자전거번호','대여일시','이용시간','이용거리']]


df_2019 = df_2019.astype({'이용시간':'float16','이용거리' : 'float16'})
df_2019

              자전거번호        대여일시   이용시간     이용거리
0         SPB-10632  2019-01-01    2.0    580.0
1         SPB-10957  2019-01-01    4.0   1020.0
2         SPB-16067  2019-01-01    2.0    550.0
3         SPB-17170  2019-01-01    3.0    700.0
4         SPB-14130  2019-01-01    5.0   1090.0
...             ...         ...    ...      ...
18485948  SPB-18675  2019-12-31  135.0   3770.0
18485949  SPB-13564  2019-12-31  623.0    620.0
18485950  SPB-11208  2019-12-31   80.0   3820.0
18485951  SPB-23946  2019-12-31  174.0  11888.0
18485952  SPB-17909  2019-12-31    8.0   1510.0

[18485953 rows x 4 columns]

In [6]:
df_2019.dtypes

자전거번호     object
대여일시      object
이용시간     float16
이용거리     float16
dtype: object

In [6]:
df_2019.to_csv("Rental 2019.csv", mode='w',encoding='euc-kr')

# 2020년
* 개인 작업시 경로 수정 필요

In [2]:
import pandas as pd
df_2012 = pd.read_csv('preprocess/2020/Bicycle 2012.csv',encoding = 'cp949',low_memory = False)
df_2011 = pd.read_csv('preprocess/2020/Bicycle 2011.csv',encoding = 'cp949',low_memory = False)
df_2010 = pd.read_csv('preprocess/2020/Bicycle 2010.csv',encoding = 'cp949',low_memory = False)
df_2009 = pd.read_csv('preprocess/2020/Bicycle 2009.csv',encoding = 'cp949',low_memory = False)
df_2007_08 = pd.read_csv('preprocess/2020/Bicycle 2007_08.csv',encoding = 'cp949',low_memory = False)
df_2006 = pd.read_csv('preprocess/2020/Bicycle 2006.csv',encoding = 'cp949',low_memory = False)
df_2005 = pd.read_csv('preprocess/2020/Bicycle 2005.csv',encoding = 'cp949',low_memory = False)
df_2004 = pd.read_csv('preprocess/2020/Bicycle 2004.csv',encoding = 'cp949',low_memory = False)
df_2003 = pd.read_csv('preprocess/2020/Bicycle 2003.csv',encoding = 'cp949',low_memory = False)
df_2002 = pd.read_csv('preprocess/2020/Bicycle 2002.csv',encoding = 'cp949',low_memory = False)
df_2001 = pd.read_csv('preprocess/2020/Bicycle 2001.csv',encoding = 'cp949',low_memory = False)

In [3]:
df_2020 = pd.concat([df_2001, df_2002, df_2003, df_2004, df_2005, df_2006, 
                     df_2007_08, df_2009, df_2010, df_2011, df_2012], ignore_index=True)

#시간 부분 떼어내기
df_2020['대여일시'] = df_2020['대여일시'].str.split(' ').str[0]
# df_2020['반납일시'] = df_2020['반납일시'].str.split(' ').str[0]

In [4]:
df_2020 = df_2020[['자전거번호','대여일시','이용시간','이용거리']]

In [5]:
# df_name [ “col_name” ] .astype(…)

df_2020 = df_2020.astype({'이용시간':'float16','이용거리' : 'float16'})
print(df_2020.dtypes)

자전거번호     object
대여일시      object
이용시간     float16
이용거리     float16
dtype: object

In [6]:
df_2020.to_csv("Rental 2020.csv", mode='w',encoding='euc-kr')

In [7]:
df_2020

              자전거번호        대여일시   이용시간     이용거리
0         SPB-04061  2020-01-01    2.0      0.0
1         SPB-06686  2020-01-01    1.0    350.0
2         SPB-15937  2020-01-01    4.0    800.0
3         SPB-14805  2020-01-01    2.0      0.0
4         SPB-09038  2020-01-01    4.0    660.0
...             ...         ...    ...      ...
23287995  SPB-32746  2020-12-31  315.0   1870.0
23287996  SPB-30390  2020-12-31  217.0  16248.0
23287997  SPB-50439  2020-12-31  213.0      0.0
23287998  SPB-37080  2020-12-31  269.0   1627.0
23287999  SPB-33700  2020-12-31  407.0   7416.0

[23288000 rows x 4 columns]

# 2021년
* 개인 작업시 경로 수정 필요

In [1]:
import pandas as pd
df_2112 = pd.read_csv('preprocess/2021/Bicycle 2112.csv',encoding = 'cp949',low_memory = False)
df_2111 = pd.read_csv('preprocess/2021/Bicycle 2111.csv',encoding = 'cp949',low_memory = False)
df_2110 = pd.read_csv('preprocess/2021/Bicycle 2110.csv',encoding = 'cp949',low_memory = False)
df_2109 = pd.read_csv('preprocess/2021/Bicycle 2109.csv',encoding = 'cp949',low_memory = False)
df_2108 = pd.read_csv('preprocess/2021/Bicycle 2108.csv',encoding = 'cp949',low_memory = False)
df_2107 = pd.read_csv('preprocess/2021/Bicycle 2107.csv',encoding = 'cp949',low_memory = False)
df_2106 = pd.read_csv('preprocess/2021/Bicycle 2106.csv',encoding = 'cp949',low_memory = False)
df_2105 = pd.read_csv('preprocess/2021/Bicycle 2105.csv',encoding = 'cp949',low_memory = False)
df_2104 = pd.read_csv('preprocess/2021/Bicycle 2104.csv',encoding = 'cp949',low_memory = False)
df_2103 = pd.read_csv('preprocess/2021/Bicycle 2103.csv',encoding = 'cp949',low_memory = False)
df_2102 = pd.read_csv('preprocess/2021/Bicycle 2102.csv',encoding = 'cp949',low_memory = False)
df_2101 = pd.read_csv('preprocess/2021/Bicycle 2101.csv',encoding = 'cp949',low_memory = False)

In [2]:
df_2021 = pd.concat([df_2101, df_2102, df_2103, df_2104, df_2105, df_2106, 
                     df_2107, df_2108, df_2109, df_2110, df_2111, df_2112], ignore_index=True)
# df_2021 = pd.concat([df_2101, df_2102], ignore_index=True)

#시간 부분 떼어내기
df_2021['대여일시'] = df_2021['대여일시'].str.split(' ').str[0]
# df_2021['반납일시'] = df_2021['반납일시'].str.split(' ').str[0]

In [3]:
df_2021 = df_2021[['자전거번호','대여일시','이용시간','이용거리']]
df_2021

              자전거번호        대여일시  이용시간     이용거리
0         SPB-53145  2021-01-02  25.0     0.00
1         SPB-53074  2021-01-04  14.0     0.00
2         SPB-50952  2021-01-13  11.0  1853.99
3         SPB-52380  2021-01-14  10.0     0.00
4         SPB-52380  2021-01-18  13.0  2291.05
...             ...         ...   ...      ...
30788940  SPB-51882  2021-12-30  12.0     0.00
30788941  SPB-51134  2021-12-30   3.0     0.00
30788942  SPB-37732  2021-12-30   3.0   345.45
30788943  SPB-51854  2021-12-22  17.0     0.00
30788944  SPB-53564  2021-12-22   1.0     0.00

[30788945 rows x 4 columns]

In [4]:
df_2021 = df_2021.astype({'이용시간':'float16','이용거리' : 'float16'})
print(df_2021.dtypes)

자전거번호     object
대여일시      object
이용시간     float16
이용거리     float16
dtype: object

In [5]:
df_2021.to_csv("Rental 2021.csv", mode='w',encoding='euc-kr')

# 형(dtype)변환

In [5]:
df_2021 = df_2021.astype({'이용시간':'float16','이용거리' : 'float16'})
print(df_2021.dtypes)

자전거번호     object
대여일시      object
이용시간     float16
이용거리     float16
dtype: object